.action-container {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
    a {
      background-color: #e72887;
      color: #fff;
      margin-left: 1rem;
    }
  }

.item-container {
    display: block;
    margin-bottom: 16px;
}


  