.link-container {
    margin: 8px 0;
    .btn-back-list-book {
        color: #fff;    }
    .btn-back-list-book:hover {
      background-color: #e72887;
      color: #fff;
    }
  }
  
  @media (max-width: 768px) {
    .link-container {
      .btn-back-list-book {
        background-color: #e72887;
        color: #fff;
      }
    }
  }
  