.card {
  width: 30rem;
  margin: 1rem;
  color: #1d4f91;

  button {
    background-color: #e72887;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding: 0.688rem 0.5rem;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
  }
}


@media (max-width: 768px) {
   .card {
    max-width: 20rem;
   }
}