<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-content-container">
    <mat-form-field>
      <mat-label>Digite aqui a Editora</mat-label>
      <input
        type="text"
        matInput
        formControlName="title"
        placeholder="Editora"
      />
      <mat-error *ngIf="form.get('title')?.hasError('required') && form.get('title')?.touched">
        O nome da editora é obrigatório!
      </mat-error>
    </mat-form-field>

    <mat-form-field  appearance="fill">
      <mat-label>Ano de Fundação</mat-label>
      <mat-select formControlName="year">
        @for (year of years; track year){
        <mat-option [value]="year">
          {{ year }}
        </mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('year')?.hasError('required') && form.get('year')?.touched">
        O ano é obrigatório!
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-button>Salvar</button>
  </div>
</form>
