

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow: auto;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1d4f91;
    overflow-y: auto;   
    overflow-x: hidden; 
  }
  
  @media (max-width: 768px) {
    body {
      flex-wrap: wrap;
      overflow-y: auto; 
      overflow-x: hidden; 
    }
  }
  